@model RaymiMusic.AppWeb.Models.CreatePlaylistVM
@{
    ViewData["Title"] = "Crear Playlist";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="EsPublica" class="form-check-input" />
        <label asp-for="EsPublica" class="form-check-label">
            Hacer pública la playlist
        </label>
    </div>

    @* usuarioId oculto *@
    <input asp-for="UsuarioId" type="hidden" />

    <button type="submit" class="btn btn-success">Crear</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
</form>
