@model IEnumerable<RaymiMusic.Modelos.ListaReproduccion>

@{
    ViewData["Title"] = "Playlists Públicas";
}
<h1>@ViewData["Title"]</h1>


@if (!Model.Any())
{
    <p>No tienes playlists aún.</p>
}
else
{
    <ul class="list-group">
        @foreach (var pl in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-action="DetailsByUser" asp-route-id="@pl.Id">@pl.Nombre</a>
                <span class="badge bg-secondary">
                    @(pl.CancionesEnListas != null ? pl.CancionesEnListas.Count : 0)
                    </span>
            </li>
        }
    </ul>
}
<p class="mt-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary ms-2">🏠 Ir al Inicio</a>
</p>
